<html>
  <head>
    <title>Mad Tatter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/simplify.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="flex-v">
      <marquee class="marquee" behavior="scroll" direction="left">Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw! Draw!</marquee>
      <div class="flex">
        <div class="row3-4 border font-lg textbox">
          <div id="sketch"></div>
          <div id="output"></div>
        </div>
        <div class="row1-4 flex flex-c border" style="border-left: none;">
          instructions
        </div>
      </div>
    </div>

  <script src="/static/js/svgpaint.js" charset="utf-8"></script>
  </body>
</html>
