<html>
  <head>
    <title>Mad Tatter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex-v">
    <div class="flex">
        <div class="row3-4 border font-lg textbox">
          <span class="bold">The Mad Tatter</span> is a project with the goal of creating a machine capable of tattooing a human arm. We hope our project will initiate discussion about the role of machines in artistic, creative work.
  To initiate this discussion and explore the role of machines in art, we hope to answer the following questions: Will the user’s experience with a machine be better or worse than if they went to a human tattoo artist? Can machines replace humans in the realm of art and tattoos? We trust machines to carry out highly complex tasks — will we trust them with something that is artistic in nature?
        </div>
        <div class="row1-4 flex flex-c">
          <div class="border" style="border-left: none; flex: 1;"><img class="logo" src="../static/t20.svg" alt="logo"></div>
          <div class="border font-med textbox" style="border-left: none; border-top: none; flex: 2;">
            <a href="draw">draw</a><br>
            <a href="tattoo">tattoo</a><br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
