<html>
  <head>
    <title>Mad Tatter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex-v">
      <marquee class="marquee" behavior="scroll" direction="left">This is a <span class="not-live">live</span> broadcast. This is a <span class="not-live">live</span> broadcast. This is a <span class="not-live">live</span> broadcast. This is a <span class="not_live">live</span> broadcast.</marquee>
      <div class="flex-v">
        <div class="player player-inactive textbox border">
          NOT LIVE! CHECK BACK SOON.
        </div>
      </div>
    </div>
  </body>
</html>
