<html>
  <head>
    <title>Mad Tatter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex-v">
      <marquee class="marquee" behavior="scroll" direction="left">Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo. Tattoo.</marquee>
      <div class="flex">
        <div class="row1-4 border font-lg textbox">
          <div class="image-container">
            <div class="title">T20 Logo</div>
            <img src="/static/t20.svg" alt="">
          </div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
      </div>
      <div class="flex">
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
      </div>
      <div class="flex">
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox">
          <div class="image-container"></div>
        </div>
        <div class="row1-4 border font-lg textbox inverse">
          <div class="image-container">SEE MORE</div>
        </div>
      </div>
    </div>
  </body>
</html>
