<html>
  <head>
    <title>Mad Tatter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
      <marquee class="marquee" behavior="scroll" direction="left">Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize.</marquee>
      <div class="flex">
        <div class="row3-4 border font-lg">
          <div id="plot"></div>
        </div>
        <div class="row1-4 flex flex-c border" style="border-left: none;">
          instructions
        </div>
      </div>

    <script>
    function gridData() {
    	var data = new Array();
    	var xpos = 1;
    	var ypos = 1;
    	var width = 30;
    	var height = 30;
    	var click = 0;

    	for (var row = 0; row < 40; row++) {
    		data.push( new Array() );

    		for (var column = 0; column < 40; column++) {
    			data[row].push({
    				x: xpos,
    				y: ypos,
    				width: width,
    				height: height,
    				click: click
    			})
    			xpos += width;
    		}

    		xpos = 1;
    		ypos += height;
    	}
    	return data;
    }

    var gridData = gridData();

    var grid = d3.select("#plot")
    	.append("svg")
    	.attr("width","100%")
    	.attr("height","100%");

    var row = grid.selectAll(".row")
    	.data(gridData)
    	.enter().append("g")
    	.attr("class", "row");

    var column = row.selectAll(".square")
    	.data(function(d) { return d; })
    	.enter().append("rect")
    	.attr("class","square")
    	.attr("x", function(d) { return d.x; })
    	.attr("y", function(d) { return d.y; })
    	.attr("width", function(d) { return d.width; })
    	.attr("height", function(d) { return d.height; })
    	.style("fill", "#fff")
    	.style("stroke", "#222");

    var height = 700;
    var width = 900;
    var padding = 30;

    var px = 100;
    var py = 0;
    var MM_PER_SEGMENT = 1;

    var svg = d3.select("#plot").append("svg")
    .attr("height", height)
    .attr("width", width);

    var xScale = d3.scaleLinear().domain([0, 400]).range([0, width]);
    var yScale = d3.scaleLinear().domain([0, 400]).range([height, 0]);


    var xScale2 = d3.scaleLinear().domain([0, .5]).range([0, width]);
    var yScale2 = d3.scaleLinear().domain([0, .5]).range([height, 0]);


    function atan3(dy,dx) {
      var a = Math.atan2(dy,dx);
      if(a<0) a = (Math.PI*2.0)+a;
      return a;
    }

    function arc(x,y,cx,cy,dir){
      // get radius
      var dx = px - cx;
      var dy = py - cy;
      var radius=Math.sqrt(dx*dx+dy*dy);

      // find angle of arc (sweep)
      var angle1=atan3(dy,dx);
      var angle2=atan3(y-cy,x-cx);
      var theta=angle2-angle1;

      if(dir>0 && theta<0) angle2+=2*Math.PI;
      else if(dir<0 && theta>0) angle1+=2*Math.PI;

      theta=angle2-angle1;
      // get length of arc
      var len      = Math.abs(theta) * radius;
      var segments = Math.ceil( len * MM_PER_SEGMENT );

      var nx, ny, angle3, scale;

      for(i=0;i<segments;++i) {
        // interpolate around the arc
        scale = (i)/(segments);
        console.log('does this get written');

        angle3 = ( theta * scale ) + angle1;
        nx = cx + Math.cos(angle3) * radius;
        ny = cy + Math.sin(angle3) * radius;
        // send it to the planner
        line(nx,ny);

        console.log(px);
        console.log(py);
        px = nx;
        py = ny;
      }

      line(x,y);

    }

    function line(newx,newy) {
      var i;
      var over = 0;

      var dx  = newx-px;
      var dy  = newy-py;
      var dirx = dx>0?1:-1;
      var diry = dy>0?1:-1;
      dx = Math.abs(dx);
      dy = Math.abs(dy);


      if(dx>dy) {
        over = dx/2;
        for(i=0; i<dx; ++i) {
          svg.append('line')
          .attr('x1', xScale(px))
          .attr('x2', xScale(px+dirx))
          .attr('y1', yScale(py))
          .attr('y2', yScale(py))
          .attr('stroke-width', 4)
          .attr('stroke', 'black');
          px += dirx;
          over += dy;
          if(over>=dx) {
            over -= dx;
            svg.append('line')
            .attr('x1', xScale(px))
            .attr('x2', xScale(px))
            .attr('y1', yScale(py))
            .attr('y2', yScale(py+diry))
            .attr('stroke-width', 4)
            .attr('stroke', 'black');
            py += diry;
          }
        }
      } else {
        over = dy/2;
        for(i=0; i<dy; ++i) {
          svg.append('line')
          .attr('x1', xScale(px))
          .attr('x2', xScale(px))
          .attr('y1', yScale(py))
          .attr('y2', yScale(py+diry))
          .attr('stroke-width', 4)
          .attr('stroke', 'black');
          py += diry;
          over += dx;
          if(over >= dy) {
            over -= dy;
            svg.append('line')
            .attr('x1', xScale(px))
            .attr('x2', xScale(px+dirx))
            .attr('y1', yScale(py))
            .attr('y2', yScale(py))
            .attr('stroke-width', 4)
            .attr('stroke', 'black');
            px += dirx;
          }
        }
      }

      px = newx;
      py = newy;
    }

    arc(100,0,50,0,1);

    </script>

  </body>
</html>
