<html>
  <head>
    <title>Mad Tatter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
      <div class="flex-v">
        <marquee class="marquee" behavior="scroll" direction="left">Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize. Visualize.</marquee>
        <div class="flex">
          <div class="row3-4 border font-lg" id="parent">
            <div id="plot"></div>
          </div>
          <div class="row1-4 flex flex-c border" style="border-left: none;">
            input box to enter gcode<br />
            button to update and submit
          </div>
        </div>
      </div>

      <script src="/static/js/grid.js" charset="utf-8"></script>
      <script src="/static/js/gcode.js" charset="utf-8"></script>

  </body>
</html>
